#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  background-color: white;
}

.menuContainer {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
}

.menuContainer li {
  margin-left: 2vw;
}

.logo {
  color: var(--blue);
  font-size: 1.5rem;
  font-weight: bold;
}

#profile-pic {
  padding: 5px;
  border: 1px silver solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin: auto;
}

ul {
  list-style: none;
  padding: 0;
}
