#navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5vw;
}
.menuContainer{
display: flex;
list-style: none;
align-items: center;
padding: 0;
}
.menuContainer li{
  margin: 0 2vw;
}
.logo{
color: var(--blue);
font-size: 1.5rem;
font-weight: 400;
}

#profile-pic{
  padding: 5px;
  width: 20px;
  height: 20px;
  border: 1px silver solid;
  border-radius: 50%;
}
.icon{
  margin: auto;
}